BasicWebService/src/main/webapp/wsdl/SimpleWebServic.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSal">
    <complexType>
     <sequence>
      <element name="sal" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSalResponse">
    <complexType>
     <sequence>
      <element name="getSalReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSalResponse">

      <wsdl:part element="impl:getSalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSalRequest">

      <wsdl:part element="impl:getSal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SimpleWebServic">

      <wsdl:operation name="getSal">

         <wsdl:input message="impl:getSalRequest" name="getSalRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSalResponse" name="getSalResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SimpleWebServicSoapBinding" type="impl:SimpleWebServic">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SimpleWebServicService">

      <wsdl:port binding="impl:SimpleWebServicSoapBinding" name="SimpleWebServic">

         <wsdlsoap:address location="http://localhost:8067/BasicWebService/services/SimpleWebServic"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
